.footer{
	background-color: rgb(192,192,192,0.8);
	font-family: sans-serif;
}

.foptions{
	padding: 15px 10px 10px 15px;
}

.company{
	width: 30%;
	margin: 5px;
	display: inline-table;
}

.contact{
	width: 25%;
	margin: 5px;
	display: inline-table;
}

.location{
	width: 42%;
	margin: 5px;
	display: inline-table;
}

.copyright{
	padding: 0px 0px 10px 0px;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
}