body{
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	background-attachment: fixed;
}

.tasks{
	margin: 60px;
	padding: 25px 25px 25px 25px;
	background-color: rgb(255,255,255,0.6);
}
.tasks a{ 
    color: white;
    padding: 20px;
    width: 17%;
    height: 300px;
    text-align: center; 
    display: inline-block;
    font-size: 30px; 
    margin: 30px 30px; 
    cursor: pointer; 
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
    box-shadow: 10px 10px 5px black;
}

.tasks img{
	margin: 20px;
}

.new119{
	background-color: rgb(255,0,0,0.9);
}
.new119:hover{
	background-color: rgb(255,0,0,0.7);
	color: white;
}

.new1990{
	background-color: rgb(0,128,0,0.9);
}
.new1990:hover{
	background-color: rgb(0,128,0,0.7);
	color: white;
}

.usermanage{
	background-color: rgb(30,144,255,0.95);
}
.usermanage:hover{
	background-color: rgb(30,144,255,0.75);
	color: white;
}

.report{
	background-color: rgb(255,69,0,0.9);
}
.report:hover{
	background-color: rgb(255,69,0,0.7);
	color: white;
}