body{
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	background-attachment: fixed;
}

.breadcrum{
	color: white;
	background-color: rgb(128,0,0,0.9);
	padding: 5px 0px 5px 10px;
}

.users{
	background-color: rgb(255,255,255,0.6);
	margin: 10px;
	padding: 10px 10px 10px 10px;
}

.users .table{
	width: 100%;
}

.users .div1,.users .div2{
	height: 400px;
	width: 100%;
	overflow: auto;
}

.users h2{
	margin:10px;
}

.users .request{
	background-color: rgb(192,192,192,0.6);
	text-align: left;
	padding: 10px;
	margin: 10px;
	height: 50px;
}

.users .user{
	background-color: rgb(192,192,192,0.6);
	text-align: left;
	padding: 10px;
	margin: 10px;
	height: 50px;
}

.users .request a{
	float: right;
	text-align: center;
    width: 10%;
    background-color: rgb(0,191,255,0.7);
    border: 1px solid black;
    padding: 11px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-shadow: none;
    font-size: 100%;
}

.users .user a{
	float: right;
	text-align: center;
    width: 10%;
    background-color: rgb(0,191,255,0.7);
    border: 1px solid black;
    text-shadow: none;
    padding: 11px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 100%;
}

.users .request a:hover{
	background-color: rgb(0,191,255,0.9);
}

.users .user a:hover{
	background-color: rgb(0,191,255,0.9);	
}